.CharacterForm {
    border: solid 2px black;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: fit-content;

    p {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    main {
        display: flex;
        justify-content: center;
    }

    section {
        text-align: end;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: fit-content;
    }

    input, select {
        width: 40vw;
    }

    button {
        border-radius: 10px;
        width: fit-content;
        margin: 10px;
        padding: 5px;
        outline: none;
    }

    @media (min-width: 500px) {
        input, select {
            width: 20vw;
        }
    }
}
