.QuestSwamp {
    background-color: darkgray;
    background-image: url('../../../public/assets/swamp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;

    height: 100%;
}