.Home {
    background-image: url('../../../public/assets/farm.jpg');
    background-size: cover;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        background-color: rgba(202, 245, 13, 0.65);
        color: rgb(97, 25, 97);
        font-style: oblique;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 15px;
        width: fit-content;
    }

    main {
        background-color: rgba(202, 245, 13, 0.65);
        border-radius: 10px;
        margin: auto;
        padding: 10px;
        width: 85vw;
    }    

    p {
        padding: 5px;
    }

    div {
        display: flex;
    }

    section {
        min-height: 4vh;
        color: red;
    }

    button {
        border-radius: 10px;
        margin: 10px;
        margin-top: 20px;
        padding: 5px;
        outline: none;
    }

    @media (min-width: 500px) {
        height: 100vh;
    }
}
